<ion-header>
  <ion-toolbar>
    <ion-title>LOGO</ion-title>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px">
        ABOUT US
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px">
        DONATE
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px">
        CONTACT US
      </ion-button>
    </ion-buttons>

    <ion-buttons tab="tab3" slot="primary">
      <ion-button href="/login-page" style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;">
          SIGN IN
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content style="--background:#00b0d7" class="ion-padding">
  <!-- <ion-button [routerLink]="['/detail']">Go to detail</ion-button> -->
</ion-content>
