<ion-header>
  <ion-toolbar>
    <!-- <ion-title>LOGO</ion-title> -->

    <ion-buttons slot="primary">
      <ion-button style="margin:20px;color: #584C8C;">
        ABOUT US
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px;color: #584C8C;">
        DONATE
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px;color: #584C8C;">
        CONTACT US
      </ion-button>
    </ion-buttons>

    <ion-buttons tab="tab3" slot="primary">
      <ion-button href="/login-page" style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;">
          SIGN IN
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff url('../../assets/images/background.png') no-repeat center center / cover;" class="ion-padding">
  <!-- <ion-button [routerLink]="['/detail']">Go to detail</ion-button> -->

  <ion-text style="color: white;">
    <p style="font-size: 50px;font-weight: bold;margin-top: 130px;margin-left: 90px;">Decentralise your child's <br>way of learning.</p>
    <p style="font-size: 20px;margin-top: -30px;margin-left: 90px;">The foundation phase is an important aspect of our learner's <br>
    educational growth as it impacts their way of learning throughout <br> their education. Give your learners a head start in learning <br>
    confidently and comfortably.
    </p>

    <!-- <ion-button style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;margin-left: 90px;margin-top: 20px;">
      SIGN UP
    </ion-button>

    <ion-button style="background:#FF6E05;color: white;width:200px;border-radius:15px;margin-right:40px;margin-top: 20px;">
      Become a sponsor
    </ion-button> -->
    
  </ion-text>


  <ion-buttons>
    <ion-button style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;margin-left: 90px;margin-top: 20px;">
      SIGN UP
    </ion-button>
  
    <ion-button fill="outline" style="border-radius:15px;color:white;width:200px;margin-right:40px;margin-top: 20px;">
      Become a sponsor
    </ion-button>
  </ion-buttons>
  

</ion-content>
