<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" id="header_logo" float-left src="../../assets/images/logo.png">
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px;color: #00a3ff;">
        ABOUT US
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px;color: #00a3ff;">
        DONATE
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button style="margin:20px;color: #00a3ff;">
        CONTACT US
      </ion-button>
    </ion-buttons>

    <ion-buttons tab="tab3" slot="primary">
      <ion-button href="/login-page" style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;">
          SIGN IN
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff url('../../assets/images/background.png') no-repeat center center / cover;" class="ion-padding">
  <!-- <ion-button [routerLink]="['/detail']">Go to detail</ion-button> -->

  <ion-text style="color: white;">
    <p style="font-size: 50px;font-weight: bold;margin-top: 130px;margin-left: 90px;">Building a programme  <br> that provides inclusion <br> and  accessibility.</p>
    <p style="font-size: 20px;margin-top: -30px;margin-left: 90px;">
      A program that helps learners in urban-rural areas find new ways of learning, <br> that is tailor made at an individual level where an augmented reality experience <br> will enable the learner to engage more efficiently.
    </p>

    <!-- <ion-button style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;margin-left: 90px;margin-top: 20px;">
      SIGN UP
    </ion-button>

    <ion-button style="background:#FF6E05;color: white;width:200px;border-radius:15px;margin-right:40px;margin-top: 20px;">
      Become a sponsor
    </ion-button> -->
    
  </ion-text>


  <ion-buttons>
    <ion-button style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;margin-left: 90px;margin-top: 20px;">
      SIGN UP
    </ion-button>
  
    <ion-button  style="background: #FFF;border-radius:15px;color:#00a3ff;width:200px;margin-right:40px;margin-top: 20px;">
      Become a sponsor
    </ion-button>
  </ion-buttons>
  

</ion-content>
