<ion-header>
  <ion-toolbar style="--background:#00b0d7">

    <ion-buttons slot="primary" style="color: white;">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary" style="color: white;">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary"  style="color: white;">
      <ion-button>
        THABO
        <ion-icon name="caret-down"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons tab="tab3" slot="primary">
      <ion-button style="color: white;margin-right:40px;">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-button [routerLink]="['/detail']">Go to detail</ion-button> -->

  <ion-text>
    <h1 style="color: black; font-size: 35px;margin-left: 320px;margin-top: 40px;">Natural Science</h1>
    <p style="font-size: 18px;font-weight: lighter;margin-top: -12px;margin-left: 320px;">Pick a section and complete it. You are one step closer to achieving your goal.</p>
  </ion-text>


  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-grid>
      <ion-row>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleFirstColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor}">
            <img src="../../assets/images/complete.png"/>
            <ion-card-header>
              <ion-card-title style="align-content: center;">Decimals</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Complete
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleSecondColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor2}">
            <img src="../../assets/images/complete.png" />
            <ion-card-header>
              <ion-card-title>Multiplication</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Complete
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleThirdColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor3}">
            <img src="../../assets/images/locked.png" />
            <ion-card-header>
              <ion-card-title>Geometry</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Locked
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleFourthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor4}">
            <img src="../../assets/images/complete.png" />
            <ion-card-header>
              <ion-card-title>Fractioms</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Complete
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleFifthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor5}">
            <img src="../../assets/images/complete.png" />
            <ion-card-header>
              <ion-card-title>Data</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Complete
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleSixthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor6}">
            <img src="../../assets/images/complete.png" />
            <ion-card-header>
              <ion-card-title>Money</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Complete
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleSeventhColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor7}">
            <img src="../../assets/images/complete.png" />
            <ion-card-header>
              <ion-card-title>Measurements</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Complete
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-card style="height: 250px;width: 250px;" button (click)="toggleEighthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor8}">
            <img src="../../assets/images/complete.png" />
            <ion-card-header>
              <ion-card-title>Pre - Algebra</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Complete
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
    </ion-grid>
    </div>

  <ion-content padding>
    <ion-button (click)="nextLesson()" style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;">
      Final Lesson
    </ion-button>
  </ion-content>

</ion-content>
