<!-- <ion-header>
  <ion-toolbar>
    <ion-title>PersonalDetails</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <!-- <ion-button [routerLink]="['/detail']">Go to detail</ion-button> -->

  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu style="--background: #fff url('../../assets/images/random_background.png') no-repeat center center / cover;" contentId="main">
      <ion-text style="color: white; margin-top: 225px; margin-left: 55px;">
        <p style="font-size: 40px;font-weight: bold;">Tell Us What<br> You Like</p>
        <p style="font-size: 20px;margin-top: -30px;">and tell us how you like <br> learning</p>
      </ion-text>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main">

      <ion-content padding>
        <ion-text>
          <h1 style="color: black; font-size: 35px;margin-left: 320px;margin-top: 40px;">Personal Details</h1>
          <p style="font-size: 18px;font-weight: lighter;margin-top: -12px;margin-left: 345px;">Start your learning today</p>
        </ion-text>
        <ion-radio-group>
          <ion-list lines="none" style="margin-left: 200px;">
            <ion-row>
              <ion-col>
                  <ion-item style="width: 120px;">
                    <ion-label>Learner</ion-label>
                    <ion-radio color="primary"></ion-radio>
                  </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item style="width: 120px;">
                    <ion-label>Teacher</ion-label>
                    <ion-radio color="primary"></ion-radio>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-radio-group>
        <ion-text>
          <p style="font-size: 18px;font-weight: lighter;margin-left: 190px;">Grade: 4</p>
        </ion-text>
  
        <ion-text>
          <p style="font-size: 18px;font-weight: lighter;margin-left: 190px;">Age: 10</p>
        </ion-text>
        <ion-text>
          <p style="font-size: 18px;font-weight: bold;margin-left: 190px;">I like: </p> <br>
        </ion-text>

        <div style="height: 100%; display: flex; align-items: center; justify-content: center;margin-top: 50px;margin-bottom: 100px;">
          <ion-grid style="margin-left:50px">
            <ion-row>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleFirstColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/ball.png"/></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title style="align-content: center;">Soccer</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleSecondColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor2}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/rocket.png"/></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>Space</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleThirdColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor3}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/puppy.png" /></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>Animals</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-text>
              <p style="font-size: 18px;font-weight: bold;margin-left: 140px;">Learning tools: </p> <br>
            </ion-text>
        
            <ion-row>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleFifthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor5}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/video.png" /></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>Video</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleSixthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor6}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/music.png" /></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>Music</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleSeventhColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor7}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/friends.png" /></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>With friends</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleEighthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor8}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/dance.png" /></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>Dance</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleNinthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor9}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/zulu.png" /></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>Story</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
              <ion-col col-6 no-padding>
                <ion-card style="height: 250px;width: 250px;" button (click)="toggleTenthColor()" [color]="primary" [ngStyle]="{'background-color': buttonColor10}">
                  <div style="display: flex; align-items: center; justify-content: center; margin-top: 30%;"><img src="../../assets/images/quiz.png" /></div>
                  <div style="align-items: center; text-align: center"><ion-card-header>
                    <ion-card-title>Quiz</ion-card-title>
                  </ion-card-header></div>
                </ion-card>
              </ion-col>
            </ion-row>
        
          </ion-grid>
          </div>

          <ion-buttons style="margin-bottom: 80px;margin-left: 70px;">
            <ion-button href="/smart-contract" style="background:#FF6E05;color: white;width:130px;border-radius:15px;margin-right:40px;">
              NEXT
            </ion-button>
          </ion-buttons>
          

      </ion-content>

      

    </ion-router-outlet>
  </ion-split-pane>

</ion-content >
