.content {
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:1px solid #ccc;
    padding-left: 30px;
    padding-right: 30px;
  }